{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>SproTech Register</title>

    <link rel="stylesheet"
          href="{% static 'css/register.css' %}">
</head>

<body>

<div class="top-navbar">

    <div class="nav-logo">
        SproTech
        <span>Smart Shopping</span>
    </div>

    <div class="nav-search">

        <input
            type="text"
            placeholder="Search for products, brands and more">

        <button>🔍</button>

    </div>

    <div class="nav-menu">

        <a href="/login/">Login</a>

        <a href="/register/">Signup</a>

    </div>

</div>

<div class="register-container">

    <div class="left-panel">

        <h1>SproTech</h1>

        <h2>Join Us Today!</h2>

        <p>
            Create your account and enjoy
            exciting deals, discounts,
            and premium shopping experience.
        </p>

        <img src="https://cdn-icons-png.flaticon.com/512/3081/3081559.png"
             class="register-image">

    </div>

    <div class="right-panel">

        <h2>Create Account</h2>

        {% if error %}
            <div class="error-box">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <input
                type="text"
                name="username"
                placeholder="Enter Username"
                required>

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>

            <button type="submit">
                CREATE ACCOUNT
            </button>
        </form>


        <a href="/login/"
           class="login-btn">

            Existing User? Login

        </a>

    </div>

</div>

</body>
</html>